/__pycache__
/functions/__pycache__
.idea
/Notebooks/.ipynb_checkpoints
/Notebooks/*.tif
/Notebooks/demo_pysofi.avi
/*/test.ipynb
.DS_Store
.pypirc
/docs/.DS_Store
/docs/build/.DS_Store
**/__pycache__/*
/pysofi/pysofi/__pycache__